body{
    background-image: linear-gradient(to right, yellow ,#FF6EC7);
   
}
#popefect{
    transition: .5s ease-in-out ;
  }
  #popefect:hover{
    transform: scale(1.02);
    box-shadow: rgba(0, 0, 0, 0.34) 0px 3px 8px;;
  }

  .txtstyl{
    text-decoration: none;
  }